.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border {
  margin-left: 60px;
  margin-right: 60px;
  background-color: white;
  height: 1000px;
}

.background {
  background-color: gray;
  height: 1000px;
}

.block {
  margin: 10px;
}

.nav-bar {
  background-color: orange;
  text-align: left;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-center{
  text-align: center;
}

.statistics{
  text-align: center;
  margin:10px
}

.username{
  margin-bottom: 10px;
}
